*{
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

img .logo {
  width: 1em;
}

.navbar {
  background-color: #ff333c;
  font-weight: bolder;
}

.signinForm {
  width: 500px;
  margin: auto;
  padding: 100px;
} 

.has-error {
  outline: red;
}